<h1>KNN</h1><br>
iris 자료를 분석하기 위해 KNN 사용

In [1]:
data(iris)
head(iris, n=10) #10개 행 출력

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [2]:
#iris 데이터 집합을 train, test 데이터로 나눔
set.seed(9567)
idx <- sample(nrow(iris), size = nrow(iris)*0.75)
train <- iris[idx, ]
test<- iris[-idx,]

In [3]:
#데이터 집합 갯수와 차원 , 빈도확인
dim(train)    #갯수, 차원 
dim(test)
table(train$Species)  #빈도
table(test$Species)

[1] 112   5

[1] 38  5

    setosa versicolor  virginica
        34         41         37

    setosa versicolor  virginica
        16          9         13

In [4]:
#KNN 알고리즘 적용
library(class)
knn <- knn(train[,1:4], test[,1:4], train$Species, k=1, prob=T)
knn

knn1 <- knn(train[,1:4], test[,1:4], train$Species, k=1, prob=T)
knn1

knn3 <- knn(train[,1:4], test[,1:4], train$Species, k=3, prob=T)
knn3

 [1] setosa     setosa     setosa     setosa     setosa     setosa
 [7] setosa     setosa     setosa     setosa     setosa     setosa
[13] setosa     setosa     setosa     setosa     versicolor versicolor
[19] versicolor versicolor virginica  versicolor virginica  versicolor
[25] versicolor virginica  virginica  versicolor versicolor virginica
[31] virginica  virginica  virginica  virginica  virginica  virginica
[37] virginica  virginica
attr(,"prob")
 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
Levels: setosa versicolor virginica

 [1] setosa     setosa     setosa     setosa     setosa     setosa
 [7] setosa     setosa     setosa     setosa     setosa     setosa
[13] setosa     setosa     setosa     setosa     versicolor versicolor
[19] versicolor versicolor virginica  versicolor virginica  versicolor
[25] versicolor virginica  virginica  versicolor versicolor virginica
[31] virginica  virginica  virginica  virginica  virginica  virginica
[37] virginica  virginica
attr(,"prob")
 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
Levels: setosa versicolor virginica

 [1] setosa     setosa     setosa     setosa     setosa     setosa
 [7] setosa     setosa     setosa     setosa     setosa     setosa
[13] setosa     setosa     setosa     setosa     versicolor versicolor
[19] versicolor versicolor virginica  versicolor virginica  versicolor
[25] versicolor virginica  virginica  versicolor versicolor virginica
[31] virginica  virginica  virginica  virginica  virginica  virginica
[37] virginica  virginica
attr(,"prob")
 [1] 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000
 [8] 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000
[15] 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000
[22] 1.0000000 0.6666667 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000
[29] 0.6666667 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000 1.0000000
[36] 1.0000000 1.0000000 1.0000000
Levels: setosa versicolor virginica

In [5]:
#예측값 평가
knn1conf <- table(knn1, test$Species)
knn1conf
knn1acc <- sum(diag(knn1conf)) /nrow(test)
knn1acc

knn3conf<-table(knn3, test$Species)
knn3acc <- sum(diag(knn3conf)) / nrow(test)
knn3acc

knn1         setosa versicolor virginica
  setosa         16          0         0
  versicolor      0          7         2
  virginica       0          2        11

[1] 0.8947368

[1] 0.8947368

In [6]:
# 공유폴더에 like, buy 파일 C:\JAVA에 옮기기
#누구와 소개팅하면 좋을까? 결혼정보 시스템 짝 이어주기
isLike <-read.csv('c:/JAVA/like.csv')
colnames(isLike) <- c('talk','book','trip','hakjum','height','skin','muscle','like')
set.seed(180315)
idx <- sample(nrow(isLike),size=nrow(isLike)*0.7)
train <- isLike[idx,]
test <- isLike[-idx,]

train
test

knn1 <- knn(train[,1:7], test[,1:7],train$like, k=1, prob=T)
knn3 <- knn(train[,1:7], test[,1:7],train$like, k=3, prob=T)

knn1
knn3

knn1conf <- table(knn1, test$like)
knn1conf
knn1acc <-sum(diag(knn1conf))/nrow(test)
knn1acc

knn3conf <- table(knn3, test$like)
knn3conf
knn3acc <-sum(diag(knn3conf))/nrow(test)
knn3acc

   talk book trip hakjum height skin muscle like
8  30   60   90   60     40     70   70     2타입
4  90   50   60   30     40     20   30     3타입
14 80   30   50   50     80     40   60     3타입
11 80   50   60   40     50     40   70     3타입
9  80   40   20   80     60     40   50     3타입
5  50   70   30   70     70     80   60     1타입
1  30   80   40   40     90     90   50     1타입
2  60   50   70   50     60     60   90     2타입
7  40   90   60   60     60     80   60     1타입

   talk book trip hakjum height skin muscle like
3  50   40   80   60     50     70   80     2타입
6  70   30   60   40     40     40   30     3타입
10 50   70   70   50     70     90   50     1타입
12 30   70   30   90     70     80   60     1타입
13 40   60   90   60     50     70   80     2타입

[1] 2타입 3타입 1타입 1타입 2타입
attr(,"prob")
[1] 1 1 1 1 1
Levels: 1타입 2타입 3타입

[1] 2타입 3타입 1타입 1타입 2타입
attr(,"prob")
[1] 0.6666667 1.0000000 1.0000000 1.0000000 0.6666667
Levels: 1타입 2타입 3타입

knn1    1타입 2타입 3타입
  1타입     2     0     0
  2타입     0     2     0
  3타입     0     0     1

[1] 1

knn3    1타입 2타입 3타입
  1타입     2     0     0
  2타입     0     2     0
  3타입     0     0     1

[1] 1

In [7]:
#누가 이상품을 구매할까? - 매장 방문고객
isBuy <- read.csv('c:/JAVA/buy.csv')
isBuy

colnames(isBuy) <- c('age','income','buy')

   나이 월수입 상품구매여부
1  26   160    구매
2  35   210    비구매
3  26   220    비구매
4  29   260    구매
5  22   110    비구매
6  32   210    비구매
7  37   310    구매
8  21   110    비구매
9  28   210    비구매
10 31   260    구매
11 36   390    구매
12 23   110    비구매
13 32   340    비구매
14 29   170    구매
15 37   340    구매
16 31   240    비구매
17 27   230    비구매
18 23   210    비구매
19 40   440    구매
20 27   140    비구매

In [8]:
  #표준화 작업 : 나이와 월수입 단위가 다름
isBuy$scage <- scale(isBuy$age)
isBuy$scincome <- scale(isBuy$income)

In [11]:
#데이터를 train/test로 나누지 않고 학습
train <-isBuy[ ,4:5]  #표준화된 데이터 
test <- data.frame(age=34,income=450)
test$scage <- (test$age - mean(isBuy$age)) /sd(isBuy$age)

test$scincome <- (test$income - mean(isBuy$income)) /sd(isBuy$income)

test<-test[,3:4]
labels <- isBuy[,3]

knn1<-knn(train,test,labels, k=1,prob=T)
knn1

[1] 구매
attr(,"prob")
[1] 1
Levels: 구매 비구매 비구매